<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
<!--		<link rel="stylesheet" href="/static/styles.css" />-->
    </head>
    <body>
        <form method="POST" action="/registered">
			<input type="text" placeholder="type name" name="name">
            <br>
			<input type="text" placeholder="type surname" name="surname">
            <br>
			<input type="text" placeholder="type login" name="login">
            <br>
			<input type="password" placeholder="type password" name="password">
            <br>
			<input type="password" placeholder="repeat password">
            <br>
            <input type="submit" value="Зарегестрироваться">
		</form>
        <p style="color:red">{{alert}}</p>
    </body>
</html>