<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>register page</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
<!--		<link rel="stylesheet" href="/static/styles.css" />-->
    </head>
    <body>
        <form method="POST" action="/registered">
            <div class="box-two">
                <div class="input">
                    <input type="text" placeholder="имя" name="name" class="inputinto">
                </div>
                <div class="input">
                    <input type="text" placeholder="фамилия" name="surname" class="inputinto">
                </div>
                <div class="input">
                    <input type="text" placeholder="логин" name="login" class="inputinto">
                </div>
                <div class="input">
                    <input type="text" placeholder="класс" name="grade" class="inputinto">
                </div>
                <div class="input">
                    <input type="password" placeholder="пароль" name="password" class="inputinto">
                </div>
                <div class="input">
                    <input type="password" placeholder="повторите пароль" name="password2" class="inputinto">
                </div>
                <div class="button">
                    <input type="submit" value="Зарегестрироваться" class="buttoninto">
                </div>
                
            </div>
			
		</form>
    </body>
</html>