<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		 <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
<!--		<link rel="stylesheet" href="/static/styles.css" />-->
		<title>My first page</title>
	</head>
	<body>
		<form method="POST" action="/logined">
			<div class="box-one">
				<div class="input">
					<input type="text" placeholder="Login" name="login" class="inputinto">
				</div>
				<div class="input">
					<input type="password" placeholder="Password" name="password" class="inputinto">
				</div>
				<div class = "button">
					<input type="submit" value="Войти" class="buttoninto">
				</div>
				<div class="text">
					<a href="/register">Нет аккаунта? Зарегестрируйся!</a>
				</div>
				<div class="text">
					<p>Неверный пароль или логин</p>
				</div>
			</div>
		</form>
	</body>
</html>